<template>
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-text-field
              v-model="userName"
              color=#000
              label="Имя"
              persistent-hint
              :hint="dangerName"
            ></v-text-field>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-text-field
              v-model="userPhone"
              color=#000
              label="Телефон"
              persistent-hint
              v-mask="'+7 (###) ###-##-##'"
              :hint="dangerPhone"
            ></v-text-field>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-text-field
              v-model="userEmail"
              color=#000
              label="Email"
              persistent-hint
              :hint="dangerEmail"
            ></v-text-field>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-select
              :items="models"
              item-text="name"
              item-value="name"
              color=#000
              append-icon="glyphicon glyphicon-triangle-bottom"
              v-model="userModel"
              label="Модель"
            ></v-select>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-menu
              :close-on-content-click="false"
              v-model="dateMenu"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="computedDateFormatted"
                color=#000
                label="Желаемая дата"
                persistent-hint
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="userDate"
                no-title
                @input="dateMenu = false"
                locale="ru-ru"
                prev-icon="glyphicon glyphicon-chevron-left"
                next-icon="glyphicon glyphicon-chevron-right"
              ></v-date-picker>
            </v-menu>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import {mask} from 'vue-the-mask'
import { VMenu, VTextField, VDatePicker, VSelect, VIcon } from 'vuetify/lib'

export default {
  name: 'CommonFields',
  components: {
    VMenu, VTextField, VDatePicker, VSelect, VIcon
  },
  directives: {mask},
  data () {
    return {
      dateMenu: false,
      date: null,
      dateFormatted: null,
      NameActive: false,
      PhoneActive: false,
      EmailActive: false,
      DateActive: false,
      pNumrQuantity: 11
    }
  },
  mounted () {
    this.$nextTick(function () {
      this.$emit('valid', this.validFields)
      if (this.userModel === '') {
        this.userModel = this.firstModel
      }
    })
  },
  computed: {
    models () { return this.$store.getters['getModels'] },
    firstModel () { return this.models[0].name },
    userName: {
      get () { return this.$store.getters['getFormName'] },
      set (val) { this.$store.commit('setFormName', val) }
    },
    userPhone: {
      get () { return this.$store.getters['getFormTel'] },
      set (val) { this.$store.commit('setFormTel', val) }
    },
    userEmail: {
      get () { return this.$store.getters['getFormEmail'] },
      set (val) { this.$store.commit('setFormEmail', val) }
    },
    userModel: {
      get () { return this.$store.getters['getFormModel'] },
      set (val) { this.$store.commit('setFormModel', val) }
    },
    userDate: {
      get () { return this.$store.getters['getFormDate'] },
      set (val) { this.$store.commit('setFormDate', val) }
    },
    validName () {
      let s = this.userName
      if (s.length === 0) { return 2001 }
      if (s.length < 2) { return 2002 }
      return 2000
    },
    validPhone () {
      let s = this.userPhone
      if (s.length === 0) { return 4001 }
      if (!this.matchPhone(s, this.pNumrQuantity)) { return 4002 }
      return 4000
    },
    validEmail () {
      let s = this.userEmail
      if (s.length === 0) { return 5001 }
      if (!this.matchEmail(s)) { return 5002 }
      return 5000
    },
    validDate () {
      let s = this.userDate
      if (s.length === 0) { return 3001 }
      return 3000
    },
    dangerName () {
      let f = this.validName
      if (f === 2000) { return '' }
      if (f === 2001) { return 'Вы не заполнили Имя' }
      if (f === 2002) { return 'Слишком короткое Имя' }
    },
    dangerPhone () {
      let p = this.validPhone
      if (p === 4000) { return '' }
      if (p === 4001) { return 'Вы не заполнили Телефон' }
      if (p === 4002) { return 'Слишком короткий Телефон' }
    },
    dangerEmail () {
      let p = this.validEmail
      if (p === 5000) { return '' }
      if (p === 5001) { return 'Вы не заполнили Email' }
      if (p === 5002) { return 'Неверный формат Email' }
    },
    dangerDate () {
      let p = this.validDate
      if (p === 3000) { return '' }
      if (p === 3001) { return 'Вы не заполнили Дату' }
    },
    validFields () {
      let v = this.validName + this.validDate + this.validPhone + this.validEmail
      if ([14000].indexOf(v) !== -1) {
        return true
      }
      return false
    },
    computedDateFormatted () {
      return this.formatDate(this.userDate)
    }
  },
  watch: {
    validFields (val) {
      this.$emit('valid', val)
    },
    date () {
      this.dateFormatted = this.formatDate(this.userDate)
    }
  },
  methods: {
    matchPhone (phone, quantity) {
      if (phone === '+') return false
      let reg = /\d/g
      let result = []
      result = phone.match(reg)
      return (result.length === quantity) ? true : false
    },
    matchEmail (e) {
      let reg = /^(([^<>()\\.,;:\s@"]+(\.[^<>()\\.,;:\s@"]+)*)|(".+"))@(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return reg.test(e)
    },
    formatDate (date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      return `${day}.${month}.${year}`
    },
    parseDate (date) {
      if (!date) return null
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  }
}
</script>

<style scoped>
.form-horizontal .control-label {
  text-align: left !important;
  font-weight: 400;
}
.form-control {
  border: none !important;
  border-bottom: 1px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: #000 !important;
}
.form-group .filderror {
  font-size: 50%;
  margin-bottom: -15px;
}
@media (max-width: 767px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    font-size: 4vw;
    line-height: 5vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    text-align: left !important;
    font-size: 90%;
    line-height: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    text-align: left !important;
    font-size: 90%;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .main-form .form-control {
    padding: 6px 2px !important;
    font-size: 13px !important;
    height: 29px;
  }
  .control-label {
    font-size: 20px;
  }
  .main-form .control-label {
    font-size: 13px;
    padding-top: 2px;
  }
}
</style>
