<template>
	<div class="container">
		<div class="row">
			<div 
        class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item"
        v-for="item in list"
        :key="item.ID"
      >
        <h3>{{ item.NAME }}</h3>
        <div class="item-text">
          <p v-html="item.PREVIEW_TEXT"></p>
        </div>
        <div class="item-actions">
          <div
            class="btn__action btn__active"
            @click="openDialog(item.ID, item.NAME)"
          >
            Записаться на сервис
          </div>
        </div>
      </div>
		</div>
    <service-list-more @increment="increseShow"></service-list-more>
    <land-dialog v-if="dialog" @close="closeDialog()">
      <h3 slot="header">{{ dialogTitle }}</h3>
      <form slot="body" class="form-horizontal">
        <common-fields @valid="comnFields=$event"></common-fields>
        <div class="form-group">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <soglasie-fields
              @pick="soglChecks=$event"
              @open="soglasieDialog=true"
              @title="soglasieTitle=$event"
              @text="soglasieText=$event"
            ></soglasie-fields>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div :class="sendBtn ? sendBtnClassActive : sendBtnClass" @click="sendRequest">Отправить заявку</div>
          </div>
        </div>
      </form>
    </land-dialog>
    <land-dialog v-if="loaderDialog" no-close="y">
      <h4 slot="header" class="text-center">Вылоняется запрос</h4>
      <p slot="body" class="text-center"><span class="loader"></span></p>
    </land-dialog>
    <land-dialog v-if="responseDialog" @close="responseDialog=false">
      <h3 slot="header">{{ dialogTitle }}</h3>
      <p slot="body">{{ responseText }}</p>
    </land-dialog>
    <land-dialog v-if="soglasieDialog" no-close="y">
      <h3 slot="header">{{ soglasieTitle }}</h3>
      <p class="scroll" slot="text">{{ soglasieText }}</p>
      <div slot="body"><div class="btn__action btn__right btn__active_main" @click="soglasieDialog=false">Выйти</div></div>
    </land-dialog>
	</div>
</template>

<script>
import { HTTP } from '../http'
import ServiceListMore from './serviceListMore.vue'
import LandDialog from './landDialog.vue'
import CommonFields from './commonFields.vue'
import SoglasieFields from './soglasieFields.vue'

export default {
  data () {
    return {
      dialog: false,
      dialogTitle: '',
      dialogText: '',
      loaderDialog: false,
      soglasieDialog: false,
      soglasieContext: '',
      soglasieTitle: '',
      soglasieText: '',
      responseDialog: false,
      responseTitle: 'Спецпредложение',
      responseText: '',
      comnFields: false,
      soglChecks: false,
      sendBtnClass: 'btn__action btn__right',
      sendBtnClassActive: 'btn__action btn__right btn__active',
      itemId: 0
    }
  },
  components: {
    'service-list-more': ServiceListMore,
    'land-dialog': LandDialog,
    'common-fields': CommonFields,
    'soglasie-fields': SoglasieFields
  },
	computed: {
    show: {
      get () { return this.$store.getters['getShowItemsCount'] },
      set (val) { this.$store.commit('setShowItemsCount', val) }
    },
    sendBtn: {
      get () { return (this.comnFields && this.soglChecks) },
      set (val) { return val }
    },
    list () { return this.$store.getters.getShowItems(this.show) },
    increment () { return this.$store.getters['getIncrement'] }
  },
  methods: {
    increseShow () {
      this.show = this.show + this.increment
    },
    openDialog (id, name) {
      this.dialog = true
      this.itemId = id
      this.dialogTitle = name
    },
    sendRequest () {
      if (this.sendBtn) {
        this.dialog = false
        this.loaderDialog = true
        this.$store.commit('setUserPersReady', false)
        this.$store.commit('setUserAdvtReady', false)
        this.soglChecks = false
        let params = new URLSearchParams()
        params.append('landing', '1')
        params.append('center', '1')
        params.append('model', this.$store.getters['getFormModel'])
        params.append('model_name', this.$store.getters['getFormModel'])
        params.append('plan_date', this.$store.getters['getFormDate'])
        params.append('name', this.$store.getters['getFormName'])
        params.append('phone_1', this.$store.getters['getFormTel'])
        params.append('phone_1_type', '1')
        params.append('email', this.$store.getters['getFormEmail'])
        params.append('comment', this.dialogTitle)
        params.append('type', 'service.feedback')
        params.append('site', 'audi-centre')
        params.append('soglasieper', true)
        params.append('soglasieadv', true)
        HTTP.post('api/requests.php', params)
          .then(response => {
            if (response.data[0].szerrorcode === 'OK') {
              this.responseText = 'Запрос успешно отправлен!'

            } else {
              this.responseText = 'К сожалению что-то пошло не так. Попробуйте сделать запрос позже.'
            }
            this.loaderDialog = false
            this.responseDialog = true
          })
          .catch(error => {
            this.responseText = error
            this.loaderDialog = false
            this.responseDialog = true
          })
      }
    },
    closeDialog () {
      this.dialog = false
      this.soglChecks = false
      this.$store.commit('setUserPersReady', false)
      this.$store.commit('setUserAdvtReady', false)
    }
  }
}
</script>

<style scoped>
  /* font-family: "Audi Extended Bold", Verdana, sans-serif;
  font-family: "Audi Bold", Verdana, sans-serif;
  font-family: "Audi Normal", Verdana, sans-serif; */
.item h3 {
  font-family: "Audi Extended Bold", Verdana, sans-serif;
}
@media (max-width: 767px) {
  .item {
    margin-bottom: 15px;
  }
  .item h3 {
    font-size: 3.6vw;
  }
  .item-text {
    height: 9vw;
  }
  .item-text>p {
    font-size: 3vw;
    line-height: 4vw;
  }
  .btn__action {
    font-size: 3.6vw;
    padding: 2vw 6vw;
    margin-left: 15vw;
    width: 60vw;
  }
  .scroll {
    height: 52vh;
    overflow: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item {
    margin-bottom: 30px;
  }
  .scroll {
    height: 36vh;
    overflow: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item {
    margin-bottom: 25px;
  }
  .item h3 {
    font-size: 17px;
  }
  .item-text {
    height: 45px;
  }
  .item-text>p {
    font-size: 14px;
    line-height: 19px;
  }
  .scroll {
    height: 36vh;
    overflow: auto;
  }
}
@media (min-width: 1200px) {
  .item {
    margin-bottom: 30px;
  }
  .item h3 {
    font-size: 22px;
  }
  .item-text {
    height: 50px;
  }
  .item-text>p {
    font-size: 19px;
    line-height: 23px;
  }
  .scroll {
    height: 30vh;
    overflow: auto;
  }
}
</style>
