<template>
  <div class="container">
    <div class="row">
      <yandex-map 
        :coords="[59.93607602, 30.35089660]"
        zoom="11"
        style="width: 100%; height: 500px;"
        :controls="['zoomControl', 'fullscreenControl']"
        :placemarks="placemarks"
        :behaviors="['dblClickZoom', 'drag']"
        map-type="map"
      ></yandex-map>
    </div>
    <lending-dialog v-if="dialog" @close="dialog=false">
      <h3 slot="header">{{ landing.PROPERTY_C_NAME_VALUE }}<br><small>{{ landing.PROPERTY_C_DESC_VALUE }}</small></h3>
      <div slot="body">
        <p>{{ landing.PROPERTY_C_ADDR_VALUE }}<br>Телефон: {{ landing.PROPERTY_C_TELF_VALUE }}</p>
        <p><span class="text-muted">График работы:<br>{{ landing.PROPERTY_C_TIME_SERV_VALUE }} сервис и запчасти<br>{{ landing.PROPERTY_C_TIME_SALE_VALUE }} продажи автомобилей</span></p>
      </div>
    </lending-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import YmapPlugin from 'vue-yandex-maps'
import LandDialog from './landDialog.vue'

Vue.use(YmapPlugin)

export default {
  components: {
    'lending-dialog': LandDialog,
  },
  data () {
    return {
      dialog: false,
      placemarks: [
        {
          coords: [59.86091576, 30.26236450],
          properties: {}, // define properties here
          options: {
            iconLayout: 'default#image',
            iconImageHref: './png/pointer.png',
            iconImageSize: [16, 26],
            iconImageOffset: [-8, -26]
          }, // define options here
          callbacks: { click: this.showDialog }
        }
      ]
    }
  },
  computed: {
    landing () { return this.$store.getters['getLanding'] }
  },
  methods: {
    showDialog () {
      this.dialog = !this.dialog
    }
  }
}
</script>

<style scoped>

</style>