header .header-brand {
    font-family: "Audi Extended Normal", Verdana, sans-serif;
}

header .header-center {
    text-align: right;
}

header .header-address {
    font-family: "Audi Extended Normal", Verdana, sans-serif;
}

header .header-logo {
    background-repeat: no-repeat;
}

a, a.default {
    color: #222;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover,
a.default:hover {
    color: #ed0331;
}

/* .form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
} */

.personal-data {
    height: 300px;
    overflow-y: auto;
    font-size: 10px;
}

#map {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

.disclaimer {
    margin: 20px 0 10px;
}

.disclaimer p {
    font-size: 10px;
}

.loader,
.spinner__inner {
    display: inline-block;
    margin: auto 2em;
    vertical-align: middle;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(34, 34, 34, 0.2);
    border-right: 0.3em solid rgba(34, 34, 34, 0.2);
    border-bottom: 0.3em solid rgba(34, 34, 34, 0.2);
    border-left: 0.3em solid #222222;
    transform: translateZ(0);
    animation: show 0.2s, load8 0.7s infinite linear;
}

.red {
    color: #bb0a30;
}

.bold {
    font-weight: bold
}

.extbold {
    font-family: "Audi Extended Bold", Verdana, sans-serif;
}

@media (max-width: 767px) {
    header {
        height: 10vw;
        margin-bottom: 0em;
        padding-bottom: 2vw;
        padding-top: 2vw;
        height: 14vw;
    }
    .header-brand {
        font-size: 2.2vw;
        line-height: 4vw;
        text-align: left;
        padding-top: 0;
        height: 10vw;
    }
    .header-center {
        font-size: 1.6vw;
        margin-right: 4vw;
        line-height: 2vw;
        padding-top: 2.3vw;
        height: 10vw;
    }
    .header-logo {
        background-position: 100% 50%;
        background-size: 22vw;
        margin-left: -6vw;
        height: 10vw;
    }
    .main-img {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1.page-h1,
    h2.page-h1 {
        font-size: 4vw;
        line-height: 5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    h2.page-h1 {
        margin-bottom: 2vw;
    }
    .page-text p {
        font-size: 3vw;
    }
    .page-text ul {
        padding-left: 7vw;
    }
    .page-text ul li {
        font-size: 3vw;
    }
    .personal-data {
        height: 66vh;
        overflow-y: auto;
        font-size: 3vw;
    }
    .contacts-text {
        font-size: 4vw;
    }
    .disclaimer {
        margin: 6vw 0 3vw;
    }
    .disclaimer p {
        font-size: 2vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: -40px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .page-h1 {
        font-size: 23px;
        margin-bottom: 4px;
    }
    h2.page-h1 {
        margin-top: 4px;
        margin-bottom: 23px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: 0px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .page-h1 {
        font-size: 30px;
        margin-bottom: 7px;
    }
    h2.page-h1 {
        margin-top: 7px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .header-brand {
        font-size: 13px;
        line-height: 13px;
    }
    .header-center {
        font-size: 12px;
        margin-right: -40px;
        line-height: 14px;
    }
    .header-logo {
        background-position: 100% 50%;
        height: 45px;
    }
    .page-h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    h2.page-h1 {
        margin-top: 10px;
        margin-bottom: 36px;
    }
    .loader-box {
        line-height: 64px;
    }
}